/* products */

body{
  margin: 0;
  max-width: 500px;
}

#products main h1 { 
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}


#products main .k-select {
  margin-bottom: 20px;
  border-style: none;
  text-align: end;
  padding-right: 20px;
  font-size: 12px;
  font-weight: 500;
}

#products .row {
  flex-wrap: wrap;
  width: 100%;
}

#products .product {
  /*background: #ccc;*/
  width: calc(50% - 10px);
  min-height: 240px;
  padding-inline-start:20px ;
  float: left;
  display: flex;
  flex-wrap: wrap;
  color: #000;
  margin-bottom: 20px;
}


#products .product img {
  width: 100%; 
  object-fit: cover;
  height: 156px;
  width: 158px;
}

#products main .container {
  padding-top: 20px;
  padding-bottom: 70px;
  background: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#products .product .info {
  margin: 0;
  padding: 0;
  min-height: 105px;
  min-width: 157px;
  position: relative;
}

#products .product .info .category {
  font-weight: 700;
  font-size: 12px;
  margin-bottom: 5px;
}
#products .product .info .title {
  font-weight: 300;
  font-size: 12px;
  margin-left: 5px;
  margin-bottom: 5px;
}

#products .product .info .price {
  font-weight: 700;
  font-size: 14px;
  margin-top: 0;
  margin-left: 5px;
  margin-bottom: 10px;
  position: absolute;
  bottom: 0;
}
#products .product .info .product-name {
  margin-left: 5px;
  margin-top: 5px;
}

#range { 
  border: none;
  float: right;
  margin-right: 20px;
}

.img-cover{
  /* position: absolute; */
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);                                                                 
  z-index: 999;
}

#products .product .info .refurb{
  color:var(--main-color);
  outline-style: none;
  font-size: 8px;
  font-weight: 500;
  margin-left: 0;
}
#products .product .info .sale{
  color: #ccc;
  margin-left: 3px;
  margin-top: 0;
}

#products .row:after {
  content: '';
  display: block;
  clear: both;
}

